@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');
a {
  color: #003366;
}

body {
  background-color: white;
  font-family: 'El Messiri', sans-serif;
}

#wikky {
  font-family: 'El Messiri', sans-serif;
  font-size: 30px;
}

li {
  font-family: 'El Messiri', sans-serif;
  display: inline;
}

li a {
  padding: 20px;
}

#footer1 li {
  font-family: 'El Messiri', sans-serif;
  padding: 10px;
  font-size: 10px;
}

.itson {
  background-color: white;
  height:auto;
}

#jumbo{
height:200px !important;
font-family: 'El Messiri', sans-serif;
}

.w-33 {
    min-width: 33%;
}